.gameDescriptionContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 1rem;
}

.allContentContainer-about{
    min-height: 15rem;
    background-color: var(--background);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}