.applinkContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 1rem;
}

.applink-container-main{
    flex: 1;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
    
}

.androidC{
    min-height: 6rem;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.applabel{
    color: var(--white_s);
    font-size: 1.5rem;
    font-family: "MR";
}